* {
    background-color: #304854;
    color: #e6f1ff;
    font-family: monospace;
    font-size: large;
}
header {
color: #A7983B;
}
span {
    color: #8892b0;
    font-size: larger;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
nav img {
    width: 0.3in;
}  
h1 {
    font-size: 1.4cm;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
nav ul {
    display: flex;
    list-style: none;
}  
.logo img{
    position: relative;
    width: 80px;
    margin:30px
}  
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}  
nav ul li {
    margin: 0px 20px;
} 
em {
    color: #A7983B;
    font-style: normal;
} 
a {
    text-decoration: none;
}

a:hover {
color: #A7983B;
}
.skills {
    display: grid;
    grid-template-columns: repeat(2, minmax(140px, 200px));
    gap: 0px 10px;
    padding: 0px;
    margin: 20px 0px 0px;
    overflow: hidden;
    list-style: none;
}
footer {
position: fixed;
text-align: right;
padding-right: 100px;
bottom: 0px;
width: 95%;
height: 40px;
font-size: smaller;
background-color: transparent;
}
.contact-container {
    position: fixed;
    left: 40px;
    right: auto;
    bottom: 20px;
}
.contact-list {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.contact-list::after {
content: "";
display: block;
width: 1px;
height: 200px;
margin: 0px auto;
background-color: #8292b0;
}

.contact-list li {
padding: 10px;
}  