.projects-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    grid-auto-rows: minmax(285px, auto);
    padding-top: 20px;
}
projects-container div {
    background-color: #112240;
    border-radius: 15px;
    text-align: center;
    padding-top: 30px;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    color: #a8b2d1;
}
.project-technologies {
    background-color: transparent;
    list-style: none;
    gap: 10px;
    display: flex;
}  
.project-technologies li {
    background-color: transparent;
    color: #8892b0;
    font-size: smaller;
}
h2 {
    background-color: transparent;
}

h2 a {
    background-color: transparent;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: #ccd6f6;
}